<div class="contain-to-grid top-bar-home">
  <nav class="top-bar top-bar-home">
    <h4 class="text-center"><%= link_to(image_tag('RankFinder-logo-sm3.png', alt: 'RankFinder logo'), root_path, class: 'brand') %></h4>
  </nav>
</div>