<% content_for :title, "RankFinder App by ClearTheNoise | Find your site's ranks for Google, Yahoo, and Bing with a url and keyword" %>
<%= render 'layouts/topbar' %>

<div class="the-container">

  <div class="top-banner">
    <div class="row">
      <div class="large-12 columns">

        <h1>Edit this search</h1>

        <h4 class="subheader">Get search engine ranks for your website - with only a domain name and keyword</h4>

      </div>
    </div>
  </div>

  <%= render 'form' %>

</div>
