<ul>
    <li>Counts
        <ul>
            <li>Character Count Total</li>
            <li>Word Count Total</li>
            <li>Sentence Count Total</li>
            <li>Syllable Count Total</li>
        </ul>
    </li>
    <li>Averages
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
    <li>Readability
        <ul>
            <li>Automated Readability Index</li>
            <li>Coleman Liau Index</li>
            <li>Flesch Kincaid Reading Ease</li>
            <li>Flesch Kincaid Grade Level</li>
        </ul>
    </li>
</ul>